* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #2f4f7f, #000);
    background-attachment: fixed;
    color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estrelas {
    position: absolute;
    background-attachment: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -1;
    height: auto;
    width: 100%;
}

.estrela {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
    animation: twinkle 5s infinite;
    z-index: -1;
}

.lua {
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: -1;
}


@keyframes twinkle {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}


h1 {
    font-size: 40px;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

span {
    color: #100ddf;
}

p {
    color: #cecece;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

textarea {
    resize: none;
    width: 100%;
    max-width: 640px;
    padding: 16px;
    border: 2px solid #100ddf;
    border-radius: 10px;
    background: #141419;
    color: #fafafa;
    outline: none;
    margin-top: 20px;
}

button {
    width: 100%;
    max-width: 640px;
    background: linear-gradient(45deg, #100ddf 0%, #1be8da 50%, #099e94 100%);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
    color: #000000;
}

.resultado {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    width: 1200px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #787878;
    border: none;
}

.bloco-codigo {
    width: 30%;
    background: #28282d;
    color: aquamarine;
    padding: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow: auto;
    line-height: 1.5;
    height: 600px;
    border-radius: 12px;
    border: 3px solid #414141;
    text-align: center;
}

.codigo {
    width: 70%;
    height: 600px;
    border: 3px solid #414141;
    border-radius: 12px;
    background-color: #28282d;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

@media (max-width: 768px),
(max-width: 1024px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    textarea {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .resultado {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .bloco-codigo {
        width: 100%;
    }

    .codigo {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .estrela {
        width: 2px;
        height: 2px;
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
    }

    .lua {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 2%;
        left: 92%;
    }

    body {
        background-attachment: fixed;
    }
}